:root {
    --icon-dimensions: 150px;
    --c-pumpkin-tail: #24ae5f;
}

.icon {
    position: relative;
    background: white;
    border: 2px solid black;
    width: var(--icon-dimensions);
    height: var(--icon-dimensions);
}

.pumpkin__tail {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%) rotate(33deg);
    background: var(--c-pumpkin-tail);
    height: 30%;
    width: 15%;
    border-radius: 2% 34% 10% 52% / 9% 47% 31% 74%;
}

.pumpkin__main {
    display: none;
    position: absolute;
    bottom: 0;
    height: 78%;
    width: 100%;
}